.jumbotron{
	height:70vh;
	background-size:cover;
	padding:100px;
	color:white;
}

.star{
	transform:scale(.5);
}
.bg-prime{
	background-color:purple;
}
.font{
	font-family: 'Gluten', cursive;
	color: #f9ff4f !important;
	font-size:2.5ch;
}
.font-lg{
	font-size:3ch;
	font-family: 'Gluten', cursive;
	color: purple !important;
}
.font-xlg{
	font-size:5ch;
	font-family: 'Gluten', cursive;
	color: purple !important;
}
.font-small{
	font-size:2ch;

}
.purpurse{
	font-family: 'Lato', sans-serif;
	color: #f9ff4f !important;
}
.font-2{
	   font-family: 'Purple Purse', cursive;
			font-size:2.5ch;
}
.font-2-sm{
	font-family: 'Lato', sans-serif;}
.font-3{
	font-family: 'Gluten', cursive;
	color: #f9ff4f !important;
	font-size:5ch;
}
.btn{
	color: white ;
	background-color: purple;
font-family: 'Lato', sans-serif;
}
a{
	color: #f9ff4f;

}
a:hover{
	color: white ;

}
.fixed-top{
	top:20px;
}
.counter{
	position:fixed;
	right:24px;
	top:26px;
	font-size: 2ch;
	color:white !important;
}
.ham{
	margin-right:5em;
}
.px-10{
	padding: 100px;
	padding-right: 100px;
}
body{
	background-color:#fcffb3;
}
.card{
	background-color:#e0afd7;
	padding-top:10px;
}

/* testing scroll  */
.fadein{
	animation: fadein 2s;} /*
.fadein:not([data-scroll='0']) {display:none;}
.fadein{
	display:inline-block;
	animation: fadein 2s;}
*/
@keyframes fadein{
0% {
		 transform: scale(.5);}
	95% {
		transform: scale(1.1);}
	100%{
		transform: scale(1);}
}
